[submodule "nginx-mainline-http3-mod-brotli"]
	path = nginx-mainline-http3-mod-brotli
	url = ../nginx-mainline-http3-mod-brotli.git
[submodule "nginx-mainline-http3-mod-ndk-set-misc"]
	path = nginx-mainline-http3-mod-ndk-set-misc
	url = ../nginx-mainline-http3-mod-ndk-set-misc.git
[submodule "nginx-mainline-http3"]
	path = nginx-mainline-http3
	url = ../nginx-mainline-http3.git
[submodule "nginx-unit-gs"]
	path = nginx-unit-gs
	url = ../nginx-unit-gs.git
